<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MyChat is a real-time chat application where you can connect and communicate with people from all over the world. Join public chat rooms or create your own private chat room.">
    <meta name="keywords" content="Chat, MyChat, Communication, Messaging, Real-time chat">
    <meta property="og:title" content="MyChat">
    <meta property="og:description" content="MyChat is a real-time chat application where you can connect and communicate with people from all over the world. Join public chat rooms or create your own private chat room.">
    <meta property="og:image" content="{% static 'images/mychat-logo.png' %}">
    <meta property="og:url" content="http://www.mychat.com">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>MyChat</title>
</head>
<body>

    {% block content %}

    {% endblock content %}
    
</body>
</html>